<!-- Header -->
	<header class="header" role="banner">
		<div class="wrap">
			<!-- Logo -->
			<div class="logo">
				<a href="index.html" title="Transfers"><img src="images/skulbus.jpg" alt="Transfers" /></a>
			</div>
			<!-- //Logo -->
			
			<!-- Main Nav -->
			<nav role="navigation" class="main-nav">
				<ul>
					<li><a href="index.html" title="">Home</a></li>
                    <li><a href="about.html" title="Contact">About Us</a></li>
					<li><a href="contact.html" title="Contact">Contact</a></li>
                    <li><a href="login.html" title="Login">Login</a></li>
                    <li><a href="register.html" title="Register">Register</a></li>
                    <li><a href="search-results.html" title="booking-step1">Booking</a></li>
				</ul>
			</nav>
			<!-- //Main Nav -->
		</div>
	</header>
	<!-- //Header -->